pypdf
tiktoken
chromadb
faker~=19.6.2
requests~=2.31.0
fastapi==0.101.1
uvicorn[standard]
httpx==0.24.1
starlette==0.27.0
python-dotenv~=1.0.0
openai>=1.1
langchain==0.1.0
langchainhub
newrelic~=9.1.0
transformers~=4.34.0
torch~=2.0.1
ctransformers~=0.2.27
tenacity~=8.2.3
pydantic~=2.4.2
python-dateutil~=2.8.2
streamlit